footer.footer
    .footer__logo
        img(src='img/logo-green.png' alt='Natrous logo')
    ul.footer__nav
        li: a(href='#') About Us
        li: a(href='#') Download Apps
        li: a(href='#') Become Guide
        li: a(href='#') Careers
        li: a(href='#') Contact Us
    p.footer__copyright &copy; by WolfMAN(Aria Azadi Pour) [Project Idea: Jonas Schmedtmann's node.js tutorial]